*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 18px;
    background-color: pink;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0 10px;   
    border-bottom: solid; 
    box-sizing: border-box;
    background-color: wheat;
    overflow: auto;
}

.nav ul>li {
    float: left;
    width: 150px;
    height: 30px;
    padding: 10px 10px;
    background-color: wheat;
}

.nav ul>li>a {
    text-decoration: none;
    color: chocolate;
}

.nav ul>li>a:hover {
    color: black;
}
/* end nav */

.site-wrap {
    width: 800px;
    margin: 50px auto;
    border: solid;
}
.document>h1{
    padding: 10px;
}
.document>p{
    padding: 10px;
}
.document>img{
    padding: 10px;
    padding-top: 20px;
    width: 90%;
}
.document {
    width: 40%;
    height: 500px;
    float: left;
    border-right: solid;
    box-sizing: border-box;
    overflow: auto;
    background-color: wheat;
}

.registration{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 450px;
    float: left;
    box-sizing: border-box;
    background-color: wheat;
    padding-top: 5px;
    padding-bottom: 5px;
}

.registration .infoContainer{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right:10px;
    display: inline-flex;
    height: fit-content;
    font-size: 20px;
    width: 500px;
}

.infoTitle{
    width: 30%;
}

.box1{
    width: 100%;
    display: flex;
}

.box1 input{
    width: 85%;
}

#sdtInput{
    width: 50%;
}

#gmxt{
    background-color: gold;
    user-select: none;
    border: 1px gold solid;
    width: 35%;
    font-size: 20px;
    text-align: center;
}

#Nam, #Nu{
    width: 30px;
    margin-top: 6px;
}

#gmxt:active{
    background-color: yellow;
    border: 1px yellow solid;
}